<h1 class="text-center">Welcome to BoilerPlate</h1>

<div>
    <h3 class="text-center">How it works</h3>
    <h4>
        BoilerPlate is a tool that takes your daily/weekly goals and "gamifies" them.  
        Building up healthy habits involves consistency and motivation.  This app helps you to 
        keep track of your life goals, and shows the streaks that you built up, motivating you to
        keep the steak alive!
    </h4>
    <h4>
        This is not a typical "to-do" list, where you keep track of your one-off tasks.  Instead, think 
        of this app as a your life BoilerPlate-- where these specific habits are a part of your everyday life!
    </h4>
</div>