<h1 class="text-center">Goals Page</h1>
<!-- ADD CURRENT DATE -->
<h3>Today's Date: _______</h3>

<div>
    <!-- Goals -->
    <mat-card>Goal 1
        <mat-icon aria-label="Completed Task Button" class="float-right">check_circle_outline</mat-icon>
    </mat-card>

    <mat-card>Goal 2
        <mat-icon aria-label="Completed Task Button" class="float-right">check_circle_outline</mat-icon>
    </mat-card>

    <mat-card>Goal 3
        <mat-icon aria-label="Completed Task Button" class="float-right">check_circle_outline</mat-icon>
    </mat-card>

    <!-- Settings -->
    <mat-icon aria-label="Settings Button">settings</mat-icon>
</div>
<div>
    <h3>Streaks</h3>
    <p>Goal 1 Streak: __ days</p>
    <p>Goal 2 Streak: __ days</p>
    <p>Goal 3 Streak: __ weeks</p>

</div>